Repository RedHatInsights/edge-api, pull requests merged in 2023-02, with the labels that each got.

#1855 Fixed OpenAPI check by using an older version
  .github/workflows/lint.yml
Labels: bug fix

#1854 update-repo: FIXES BuildUpdateRepo with OldCommits.
  pkg/services/repobuilder.go
  pkg/services/repobuilder_test.go
  pkg/services/updates.go
  unleash/features/feature.go
Labels: bug fix, new feature

#1865 repobuilder: Fixes RepoPullLocalStaticDeltas repo cmd option.
  pkg/services/repobuilder.go
  pkg/services/repobuilder_test.go
Labels: bug fix, test update

#1874 kafka-cfg: FIXES GetKafkaProducerConfigMap sasl config.
  pkg/common/kafka/kafkaconfigmap.go
  pkg/common/kafka/kafkaconfigmap_test.go
Labels: bug fix, test update

#1870 kafka: Fixes SecurityProtocol to update package update-app-common-go to latest 1.6.5.
  go.mod
  go.sum
  pkg/common/kafka/kafkaconfigmap.go
  pkg/common/kafka/kafkaconfigmap_test.go
Labels: waiting for review

#1871 test: add new test case to clients/imagebuilder/client.go
  pkg/clients/imagebuilder/client_test.go
Labels: test update

#1878 kafka: FIXES images/updates SendNotifications.
  pkg/common/kafka/utils.go
  pkg/common/kafka/utils_test.go
  pkg/services/images.go
  pkg/services/updates.go
  pkg/services/updates_test.go
Labels: bug fix, test update

#1881 kafka: FIXES kafkaConfigMap to include ssl.ca.location.
  config/config.go
  config/config_test.go
  pkg/common/kafka/kafkaconfigmap.go
  pkg/common/kafka/kafkaconfigmap_test.go
Labels: bug fix, test update

#1888 kafka: Add producer message retries config values.
  config/config.go
  pkg/common/kafka/kafkaconfigmap.go
  pkg/common/kafka/kafkaconfigmap_test.go
Labels: bug fix, test update

#1884 Increase test coverage on GetImageThirdPartyRepos
  pkg/clients/imagebuilder/client_test.go
Labels: waiting for review, test update

#1883 kafka: FIXES SendImageNotification.
  pkg/services/errors.go
  pkg/services/errors_test.go
  pkg/services/images.go
  pkg/services/images_test.go
  pkg/services/updates.go
  pkg/services/updates_test.go
Labels: bug fix, test update

#1890 kafka: Add topic platform.notifications.ingress to ClowderApp.
  deploy/clowdapp.yaml
Labels: bug fix

#1893 kafka: Fixes SendNotification functions using GetTopic.
  pkg/services/images.go
  pkg/services/images_test.go
  pkg/services/updates.go
  pkg/services/updates_test.go
Labels: bug fix, test update

#1887 Add Glitchtip support
  config/config.go
  deploy/clowdapp.yaml
  go.mod
  go.sum
  main.go
  unleash/features/feature.go
Labels: new feature

#1892 THEEDGE-3037 Fix wrong HTTP status when trying to update an image that is not the latest
  pkg/common/seeder/seeder.go
  pkg/routes/images.go
  pkg/routes/images_test.go
  pkg/services/errors.go
  pkg/services/images.go
Labels: bug fix, test update

#1895 add validation on update status as created to return also as updating…
  pkg/services/devices.go
  pkg/services/devices_test.go
Labels: bug fix

#1897 Fix key for glitchtip-dsn Vault secret
  config/config.go
  deploy/clowdapp.yaml
  go.mod
  go.sum
  main.go
  unleash/features/feature.go
Labels: bug fix

#1901 Use filepath.join for OS-agnostic path.
  pkg/services/files/uploader_test.go
Labels: waiting for review

#1907 Handle lint for minimum replicas.
  deploy/clowdapp.yaml
Labels: new feature

#1877 add unit test to repo.
  pkg/services/repo.go
  pkg/services/repo_test.go
Labels: test update

#1908 Improve coverage to search package method
  pkg/clients/imagebuilder/client_test.go
Labels: test update

#1912 images: Fixes and add services/images.go coverage.
  pkg/services/images.go
  pkg/services/images_test.go
Labels: bug fix, test update

#1915 annotate every deployment
  deploy/clowdapp.yaml
Labels: bug fix

#1916 update: Fixes update repo status on repo building failure.
  pkg/services/updates.go
  pkg/services/updates_test.go
Labels: bug fix, test update

#1918 prcheck: add replace to coverage podman command
  pr_check.sh
Labels: bug fix

#1910 parity: add feature flag config for content sources
  unleash/features/feature.go
Labels: waiting for review, new feature

#1922 update: Fixes update repo build sql on repo building failure.
  pkg/services/updates.go
Labels: bug fix

#1923 notifications: Fixes send Image Creation notification too early.
  pkg/services/images.go
Labels: bug fix, hotfix⚡️

#1924 notifications: Fixes send Image Creation notification with imageSet pointer.
  pkg/services/images.go
  pkg/services/images_test.go
Labels: bug fix, test update, hotfix⚡️

#1857 Fix Inconsistent count returned from /image-sets
  pkg/routes/imagesets.go
  pkg/routes/imagesets_test.go
Labels: bug fix

#1928 notifications: Fixes send Device Update notification.
  pkg/services/updates.go
  pkg/services/updates_test.go
Labels: bug fix, test update, hotfix⚡️

#1927 test: add more converage on GetComposeStatus method
  pkg/clients/imagebuilder/client_test.go
Labels: test update

#1917 validate env based on clowder config
  config/config.go
  pkg/services/updates.go
  pkg/services/updates_test.go
  unleash/features/feature.go
Labels: bug fix
